---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource/inter/variable.css";

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const { title, image, description } = Astro.props;

const makeTitle = title
  ? title + " | " + "coditva.dev"
  : "coditva.dev";

const resolvedImageWithDomain = (image && image.src) || new URL(
  "/cover.png",
  Astro.site
).toString();
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={makeTitle}
      description={description || "coditva.dev is an online publication of thoughts and ideas of Utkarsh Maheshwari. It is not the best place on the internet, but it's his proof of existence."}
      canonical={canonicalURL}
      twitter={{
        creator: "@coditva",
        site: "@coditva",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: title || `coditva.dev - Introvert, systems programmer, reader, wannabe chef, nighttime philosopher.`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "coditva.dev",
        },
      }}
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
